<h3>comments</h3>
<% @post.comments.each do |comment| %>
<div class="well">
	<p><strong><%= comment.Username %></strong>: <%= comment.body %></p>
	<%=link_to '[X]',[comment.post, comment],method: :delete, data: { confirm:'Are you sure?'}%></p>
</div>
<%end%>











